.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.settings-item {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}
